/* .carousel{
    background-position: top center;
    background-size: cover;
    background-attachment: fixed;
    padding: 25%;
} */

.banner1{
    background-image: url("../img/b.RPrp.jpg");
    background-position: top center;
    background-size: cover;
    /* background-attachment: fixed; */
    padding: 10%;
}

.banner2{
    background-image: url("../img/banner.REmple.jpg");
    background-position: top center;
    background-size: cover;
    /* background-attachment: fixed; */
    padding: 10%; 
}

.banner3{
    background-image: url("../img/bgr.avif");
    background-position: top center;
    background-size: cover;
    /* background-attachment: fixed; */
    padding: 10%;
}
.fondo-empleado {
    background: linear-gradient(120deg, #fff6fa85 60%, #f073b80c 100%), url('../img/banner.REmple.jpg') center/cover no-repeat;
    border-radius: 1rem;
    padding: 2rem;
}